.slider{
    inline-size: 200px;
    block-size: .25rem;
    background: rgba(255, 255, 255, .2);
    border-radius: .25rem;
}

.slider:hover .slider-progress{
    background: var(--primary);
}
.slider:hover .slider-button{
    display: block;
}
.slider-progress{
    block-size: inherit;
    border-radius: inherit;
    background:var(--white);
    inline-size: 20%;
    position: relative;
}
.slider-button{
    background: var(--white);
    block-size: 200%;
    border-radius: 50%;
    padding: 0;
    border: 0;
    aspect-ratio: 1/1;
    position: absolute;
    left: 100%;
    display: none;
    top: 50%;
    transform:translate(-50%,-50%);
}