.justifyContent{
    display: flex;
    /* justify-content: flex-end;
    flex-wrap: wrap; */
    border: 2px solid red;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    /* espacio entre elementos GAP */
    /* gap: 2rem; */
    /* flex-direction: column;
    block-size: 1000px; */
    /* strech es por defautr, es como adaptate al tamaño */
    /* align-items: flex-start; */
}
.spaceBetween{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.spaceBetween ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
}
.spaceBetween img{
    block-size: 100px;
    border-radius: 50%;
}
/* .justifyContent img:nth-of-type(1){
    align-self: flex-end;
}
.justifyContent img:nth-of-type(2){
    align-self: center;
} */
/* .justifyContent > img{
    margin-left: 2rem;
    margin-bottom: 2rem;
} */